body{
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 64px;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.redText{
  color: $portaRed;
  font-weight: 700 !important;
}

.regularFont{
  font-weight: 400;
  color: black;
}

.boldText{
  font-weight: 700;
}

.greyText{
  color: #778692;
}

.topCollectionsLogo {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 10%;
    transition: .4s ease all;
    pointer-events: none;
    max-height: 230px;

    img{
      width: 160%;
      transition: .4s ease all;
    }

    &.resized{
      right: 7%;
      img{
        width: 100%;
      }
    }

    @media (max-width: 772px){
      max-height: 180px;
      right: 5%;
      img{
        width: 100%;
        transition: .4s ease all;
      }

      &.resized{
        right: 0;
      }
    }

}

.menuItem {
    padding: 30px;
    @include sansFont(22px, 700, 1.16);
    text-transform: uppercase;
    display: flex;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 5;
    transition: 0.6s ease all;
    outline: none;

    @media (max-width: 500px){
      flex-basis: 80%;
    }

    @media (min-width: 500px) and (max-width: 992px){
      flex-basis: auto;
    }

    @media (max-width: 992px){
        padding: 10px 5px;
    }

    img{
      margin-left: 10px;
      transition: .6s ease all;
    }

    &.inactive {
        opacity: 0.15;
    }

    &.rotateArrow {
        img {
            transform: rotate(-180deg);
        }
    }

    &:nth-of-type(1) {
        &:before {
            background-image: url("../img/ramka_pomaranczowy.svg");
        }

        &:after {
            color: $portaOrange;
        }
    }

    &:nth-of-type(2) {
        &:before {
            background-image: url("../img/ramka_zielona.svg");
        }

        &:after {
            color: $portaLightGreen;
        }
    }

    &:nth-of-type(3) {
        &:before {
            background-image: url("../img/ramka_niebieski.svg");
        }

        &:after {
            color: $portaBlue;
        }
    }

    &:before {
        content: '';
        display: block;
        width: 30px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        left: 10px;
    }

    // &:after {
    //     content: '\E802';
    //     font-family: 'fontello';
    //     padding: 0 15px;
    //     transition: 0.6s ease all;
    // }
}

header.blackBar{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background-color: black;
    max-height: 60px;

    .topCollectionsLogo{
      top: 58px;
    }

    .blackBarWrapper{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        position: relative;
        a{
            text-decoration: none;
            color: white;
            @include sansFont(16px, 400, 1.16);
            padding: 20px 15px;
            display: flex;
            align-items: center;

            @media (max-width: 550px){
                padding: 20px 5px;
            }

            span{
                @include sansFont(8px, 300, 1.16);
                padding-right: 5px;
                i{

                }
            }
            b{
                @include sansFont(16px, 700, 1.16);
                padding-left: 5px;
            }
        }
    }
}

.greenAdd {
    background: rgba(0, 177, 148, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s ease all;
    opacity: 0;
    // display: none;

    &:hover{
      opacity: 1;
    }

    .greenAddTitle {
        @include sansFont(24px, 700, 1.16);
        padding: 10px 0;
    }

    p {
        @include sansFont(16px, 400, 1.16);
        padding: 0 0 25px;
    }

    a{
      color: white;
      .zoom {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          width: 38px;
          height: 38px;
          border: 1px solid white;
          cursor: pointer;
      }
    }

}
